/* base fonts */

$ff: 	'Karla', sans-serif; /* font family */
$fs: 	16px; /* font size */
$ws: 1440px; /*width*/

/* color */

$ct-2: #FFFFFF; /* color text btn */
$ct: #1F1F1F; /* color text 1 */
$bc: #E5E5E5; /* background-color light theme 1*/
$bc-i: #C4C4C4; /* background-color header image*/
$bc-b: #423F3E; /* background-color header btn*/